h1 {
    margin-bottom:10px;
}

#formulaire
{
    display:flex;
}

.texte
{
    display:flex;
    flex-direction:column;
}

.entrer
{
    margin-left:5px;
    display:flex;
    flex-direction:column;
}

