.navigation
{
    display:flex;
    justify-content: space-between;
    color:white;
    background-color:#343538;
    margin-bottom:5px;
    font-weight:bold;
    font-size:1.1em;
    text-align:center;
}

.logo
{
    flex:1;
}

.headElem:hover
              {
		  background-color:black;
              }

.headElem{
    flex:1;
}

.active{
    flex:1;
    background-color:green;
}

body{
    background-color:#e5eaea;
}

.Panneau
{
    background-color:white;
    border: 0.5px grey solid;
    border-radius: 4px;
    margin: 15px;
    padding: 15px;
}

.Panneau_avec_titre{
    background-color:white;
    border: 0.5px grey solid;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;    
    padding: 15px;
}

.titre
{
    color:#343538;
}

input[type=text]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    font-size:100%;
}

input[type=submit]:hover {
    background-color: DarkGreen;
}

.lien{
    color:blue;
    text-decoration:underline;
}

.lien:hover{
    cursor: pointer;
    color:DarkBlue;
}

.lien:focus{
    color:red;
}

 #Principal
{
    display:flex;
justify-content: space-around;
 }

  #corp
 {
 display:flex;
 flex-direction:column;
 justify-content:space-around;
 flex:10;
 }

  nav{
      flex:2;
  }
  
 .message-list
  {
    background-color:white;
    border: 0.5px grey solid;
    border-radius: 4px;
    /*margin: 15px;*/
    /*padding: 15px;*/
  }

 .new-message
 {
    background-color:white;
    border: 0.5px grey solid;
    border-radius: 4px;
    /*margin: 15px;*/
 }

 .message
 {
     border: 0.5px grey solid;
     /*background-color:#343538;*/
     background-color: white;
     /*color: white;*/
     color:black;
     /*border-radius: 4px;*/
     padding-top:0px;
     margin-bottom:15px;
     margin-left: 15px;
     margin-right: 15px;
     padding:5px;
 }
 
 .tete_document
 {
     background-color:#343538;
     color:white;
     border-bottom: 0.5px grey solid;
     border-radius:4px;
     margin-left: 15px;
     margin-right: 15px;
     padding-top: 2px;
     margin-top: 15px;
     text-align: center;
     font-weight:bold;
 }

 .titre{
     background-color: green;
     color:white;
     border-bottom: 0.5px grey solid;
     border-radius: 4px;
     margin-top: 15px;
     padding: 2px;
     text-align: center;
     font-size:1.2em; 
     font-weight:bold;
     /*width:100%;*/
 }

 .titre_panneau{
     background-color: green;
     color:white;
     border-bottom: 0.5px grey solid;
     border-radius: 4px;
     margin-top: 15px;
     margin-right: 15px;
     margin-left:15px;
     padding: 2px;
     text-align: center;
     font-size:1.2em; 
     font-weight:bold;    
 }
