header
{
    display:flex;
    border-style:solid;
    border-color:black;
    border-width:5px;
    justify-content: space-between;
    color:red;
}

#Principal
{
    display:flex;
    flex-direction:column;
}
